.sala{
    background-color: #87ceeb;
    width:150px;
    height: 150px;
    margin: 0 30px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#909090;
}

.sala:hover{
   opacity:0.8;
   cursor:pointer;
}

.modal {
    height: 400px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

h2{
    font-weight: 100;
    color:#404040;
}

.numero{
    text-align: center;
}

.temperatura{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boxTemperatura{
    border: 1px solid #87ceeb;
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 5px;
}

p{
    font-size: 1.5em;
}

.boxSeta{
    cursor:pointer;
    padding:10px;
    border-radius: 10px;
}

.boxSeta:active{
    background-color: #e0eef3;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttons button{
    width:20%;
    margin-left:10px;
    padding:0;
}