@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 1em Roboto, sans-serif;
  background: #fffafa;
  -webkit-font-smoothing: antialiased;
}

h1{
  font: 400 2.5em Roboto, sans-serif;
  color:#909090;
  font-weight:lighter;
}

::placeholder {
  color: #ccc;
}

input,
button,
textarea {
  font: 400 1em Roboto, sans-serif;
  width: 100%;
  margin-top: 1em;
  border-radius: 8px;
  height: 2em;
  border: 1px solid #c4c4c4;
  padding-left: 0.5em;
}

button {
  cursor: pointer;
  background-color: #87ceeb;
  color: #fffafa;
  height: 2em;
}

.link:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:hover {
  opacity: 0.8;
}

div.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}
